/** @format */
@import '../../comm-scss/short-sass/sscss-set';
@import '../../comm-scss/short-sass/sscss-mixin';
/*
@import '../../comm-scss/bootstarp4/functions';
@import '../../comm-scss/bootstarp4/variables';
@import '../../comm-scss/bootstarp4/mixins';
*/
$path: '/common/img/';
html {
    font-size: 14px;
}
.likuan {
    color: #ff0000;
}
